<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr>
<%=
  link_to "Редактировать",
          edit_post_path(@post),
          :class => "btn btn-outline-secondary"
%>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">
  Удалить
</button>

<!-- Modal -->
<div class="modal" id="removeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Подтвердите действие</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить статью?
      </div>
      <div class="modal-footer">
        <%= link_to "Удалить", post_path(@post), method: :delete, :class => "btn btn-danger" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>