.posts-page {
  .cardBodyText {
    max-height: 310px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }
}
